.header {
  background-color: #ffffff;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.navbar li {
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar li:hover {
  color: #ffcc00;
}